<!-- Footer -->
<footer class="font-small bg-dark" id="footer">

  <!-- Copyright -->
  <div class="container text-center py-3 text-light">© 2020 Copyright:
    <a  class="text-light" href="/">Outsource.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->