<div class="card container mt-5 w-75 p-5">
	<h1>Editing Application</h1>

	<%= render 'form', application: @task_application %>

	<%= link_to 'Show', @task_application %>
	<%= link_to 'Back', task_applications_path %>
</div>