<div class="card container">
  <h2>Welcome back, <%= current_user.first_name%>!</h2>
<!-- Add if user signed in-->

<!-- ask user to finish filling out their 'about' if they havent yet -->

<!-- links -->
</div>

