// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index-slide {
    background-color: black;
    background-image: url("index-bg.jpg");
}